<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">Gallery</li>
            </ul>
        </div>
        <div class="col-md-4" ng-repeat="event in events">
             <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
            <h3>
                <div ng-click="currentEvent(event)" ><a>{{event.name}}</a></div>
            </h3>
        </div>
    </div>
</div>